.classpath
.project
*.iml
.settings/
.idea/
.DS_Store

# Package Files #
*.jar
*.war
*.ear

# Exclude gradle files #
.gradle
build/

# Exclude generated source #

coupons-core/src/main/generated/

classes/
