<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <if condition='"${spring.profiles.active}".contains("ci")'>
        <then>
            <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
              <dsn>http://194c6639f25f4643a23039a56cdbf4eb:8647c238335c4fa882f5bf8683a665a8@10.16.15.130:9000/4?options</dsn>
              <tags>tag1:value1,tag2:value2</tags>
            </appender>
            <root level="info">
                <appender-ref ref="Sentry"/>
            </root>
        </then>
    </if>
    <if condition='"${spring.profiles.active}".contains("prod")'>
        <then>
            <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
              <dsn>http://8ba7093f356641aeb9277d5a600521a2:cd68a40a75934d798504644d6f15ff04@10.16.15.177:9000/6?options</dsn>
              <tags>tag1:value1,tag2:value2</tags>
            </appender>
            <root level="warn">
                <appender-ref ref="Sentry"/>
            </root>
        </then>
    </if>
</configuration>
